./settings
./.project
.classpath
.project
.settings
.tmp
.sass-cache
.DS_Store*.prefs
*.class
*.jsdtscope
*.launch
pom.xml
node_modules
bower_components
dist
build
/target
/log
/src/main/webapp/styles/css/**/*.css
npm-debug.log