<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link href="/styles/content_style.css" rel="stylesheet" type="text/css"  />

<title>Happy Birthday, Baby!!! </title>

</head>

<body>
<div id="container">

<div id="header">

<img class="head" src="/images/cut.jpg">

 

</div>

<div id="menu">
 <ul  class="menu">
 <li  class="menu"><a class="tag " href="home.html">Home</a> </li>
 <li class="menu"> <a class="tag " href="news.html">News</a> </li>
 <li  class="menu"> <a class="tag " href="study.html">Study</a> </li>
  <li  class="menu"> <a class="tag" href="hobbies.html">Hobbies</a>  </li>
  <li  class="menu"> <a class="tag " href="friends.html">Friends</a> </li>
  <li  class="menu"> <a class="tag" href="contact.html">Contact</a> </li>
 
 </ul> 
</div>

<div id="image"><img height=300px; width=380px; src="/images/BFF.jpg"><img height=300px; width=200px; src="/images/couple.jpg">
<img height=300px; width=400px; src="/images/lab.jpg">
</div>

<div id="content">
 <h1 style="background:#F60; margin:0px;text-align:center;"> Happy Birthday!!!</h1>

 <p> &nbsp;&nbsp;&nbsp;&nbsp; Hi, dear! It is your birthday tomorrow. Surprise~~~~ I made this web for celebrating your birthday. 
When you look below, the days we spent together can clearly jump into your mind.</p>

<hr/>
 <div class="column"> 
 <img height=320px; width=250px; src="/images/Birthday/1.jpg">
  <img  class="gap" height=320px; width=240px; src="/images/Birthday/2.jpg">
  <p style="padding-left:10px; text-align:left">
    1. The first time you took photo of me, in the library.
    <br/>
  2. You said I am beatiful with this coat
 </p>
 </div>
 
  <div class="column"> 
 <img height=320px; width=250px; src="/images/Birthday/3.jpg">
  <img  class="gap" height=320px; width=250px; src="/images/Birthday/4.jpg">
 <p style="padding-left:10px; text-align:left">
   3. Where I lost my lovely cup, you remember?
   <br/>
  4. The first time you trim the nails for me, I was moved.</p>
 </div>
 
  <div class="column"> 
 <img height=320px; width=250px; src="/images/Birthday/5.jpg">
  <img  class="gap" height=320px; width=250px; src="/images/Birthday/6.jpg">
  <p style="padding-left:10px; text-align:left">
    5. The day we spent together playing snow.
    <br/>
  6. 201314 means I love you for all my life.</p>
 </div>
 
  <div class="column"> 
 <img height=320px; width=250px; src="/images/Birthday/7.jpg">
  <img  class="gap" height=320px; width=250px; src="/images/Birthday/8.jpg">
  <p style="padding-left:10px; text-align:left">
    7. We enjoy the sunshine on the hill full of grass.<br/>
  8. We play phone on the dirty sleeper in the train.</p>
 </div>
 
  <div class="column"> 
 <img height=320px; width=250px; src="/images/Birthday/9.jpg">
  <img  class="gap" height=320px; width=240px; src="/images/Birthday/10.jpg">
  <p style="padding-left:10px; text-align:left">
    9. We travelled to Xiamen, beside the sea.<br/>
  10. You are behind the photo.</p>
 </div>
 
  <div class="column"> 
 <img height=320px; width=250px; src="/images/Birthday/11.jpg">
  <img  class="gap" height=320px; width=250px; src="/images/Birthday/12.jpg">
  <p style="padding-left:10px; text-align:left">
    11. We sat by the lake in the little rain, talking happily.
    <br/>
  12. I made you to take this photo, aha!</p>
 </div>
 
  <div class="column"> 
 <img height=320px; width=240px; src="/images/Birthday/13.jpg">
  <img  class="gap" height=320px; width=250px; src="/images/Birthday/14.jpg">
  <p style="padding-left:10px; text-align:left">
    13. Our his' and her's clothes.
    <br/>
  14. Evening party for gradution.</p>
 </div>
 
  <div class="column"> 
 <img height=320px; width=250px; src="/images/Birthday/15.jpg">
  <img  class="gap" height=320px; width=240px; src="/images/Birthday/16.jpg">
  <p style="padding-left:10px; text-align:left">
    15. I was cool wearing this glass, wasn't I ?<br/>
  16. The firtst time we ate beafsteak together.</p>
 </div>
 
  <div class="column"> 
 <img height=320px; width=250px; src="/images/Birthday/17.jpg">
  <img  class="gap" height=320px; width=240px; src="/images/Birthday/18.jpg">
  <p style="padding-left:10px; text-align:left">
    17. Buying our clothes at the end of last year.<br/>
  18. The handsome man and the pretty lady.
 </p>
 </div>
 
   <div class="column"> 
 <img height=320px; width=450px; src="/images/Birthday/19.jpg">
 
  <p style="padding-left:10px; text-align:left">
 The prince and his princess live happily ever after~~~~
 </p>
 </div>
 
 <img height=300px; width=690px; z-index=-1; src="/images/Birthday/love.jpg">

 <p style="color: #F60; font-size: 50px; text-align: center;"> THE END! </p>
</div>










<div id="accessary">
<h2 style="background-color:pink; margin:0px; text-align:center;" > Message Board </h2>

<ul>
<li style="text-decoration:blink"> Today is my boy friend PXY's birthday! </li>
</ul>
 <img src="/images/Birthday/happy.gif">
 

</div>

<div id="footer"> Copyright@Claire Wu</div>

</div>





</body>
</html>
