<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Study</title>
<link href="content_style.css" rel="stylesheet" type="text/css"  />



</head>

<body>

<div id="container">

<div id="header">

<img class="head" src="Image/cut.jpg">
 

</div>

<div id="menu">
 <ul  class="menu">
   <li  class="menu"><a class="tag " href="home.html">Home</a> </li>
   
 <li class="menu"> <a class="tag " href="news.html">News</a> </li>
 <li  class="menu"> <a class="tag " href="study.html">Study</a> </li>

  <li  class="menu"> <a class="tag" href="hobbies.html">Hobbies</a>  </li>
  <li  class="menu"> <a class="tag " href="friends.html">Friends</a> </li>
  <li  class="menu"> <a class="tag" href="contact.html">Contact</a> </li>
 
 </ul>
</div>

<div id="image">
<img height=300px; width=380px; src="Image/BFF.jpg">
<img height=300px; width=200px; src="Image/couple.jpg">
<img height=300px; width=400px; src="Image/lab.jpg">
</div>

<div id="content">


<p style="line-height:150%; ">   &nbsp;  &nbsp;  I am a undergraduate majoying in Computational Mathematics at <a  class="normal" href="http://gradschool.ustc.edu.cn/">USTC</a>,as well as a member of 
<a class="normal" href="http://gcl.ustc.edu.cn/">GCL@USTC</a> under the instruction of
<a class="normal" href="http://staff.ustc.edu.cn/~lgliu/">Pro.Dr.Ligang Liu </a>.  I also study maths in my college. 
 </p>
 
 <p> &nbsp; &nbsp;  The following is detailed information about my study experience .</p> 
 
 <hr/>
 
 <h2> Education Background</h2>
 <table width="680">
 <tr>
     <th> Time</th>     
     <th>School </th>
     <th>Diploma </th>
 </tr>
 
  <tr>
    <td> 2003.9-2006.6</td>
    <td>Xiaojiang NO.2 Middle School  </td>
   <td> Middle School</td>
 </tr>
 
  <tr> 
   <td> 2006.9-2009.6</td>
   <td><a href="http://www.pyyz.com/"> Pingyang High School</a>  </td>
   <td> High School</td>
 </tr>
 
  <tr> 
   <td>2009.9-2013.6 </td>
  <td> <a href="http://www.zjnu.edu.cn/">Zhejiang Normal University</a>
  <br> <a href="http://cyxy.zjnu.edu.cn/index.aspx">Chuyang Honors College</a>
  </td>
   <td> Bachelor</td>
 </tr>
 
  <tr>
   <td> 2013.9-Now</td>
   <td> <a href="http://www.ustc.edu.cn/"> University of Science  <br/> and Technology of China </a> </td>
   <td> Master</td>
 </tr>
 </table>
 
  <br/>
 
  <hr/>
 
 <h2> Interest  </h2>
 <ul> 
 <li> Computer Graphics: They are fatastic!</li>
 
<li> 3d Pinting：I don't know much about it, but I will learn. </li>
 
  <li> Web design and programming: I enjoy making my own website using HTML/CSS.    </li>
  <li>  Game development: If only I can make my own game using Unity3d! </li>
  
   <li>Image processing: I like to beautify picture using PS or Meitu. </li>
 
 
 
 </ul>
  <hr/>
 
 
 <h2> Specialty</h2>
 <p> &nbsp; &nbsp;  I can't say I have a solid professional foundation of maths, and I am not good at web programming since I learned it from last week. I haven't study English for some time, but I am picking it up, preparing for BEC higher. If I pass it, it will be my specialty. Good luck for myself!   </p>
 
 <hr/>
 
 <h2> Awards</h2>
 
 
  <img  class="award" src="Image/Awards/s1.jpg">
 <img  class="award" src="Image/Awards/s2.jpg">
 <img  class="award" src="Image/Awards/s3.jpg"> 
     
 <img  class="award" src="Image/Awards/s4.jpg">
    <img  class="award" src="Image/Awards/h1.jpg">
     <img  class="award" src="Image/Awards/h2.jpg"> 
     
   <img  class="award" src="Image/Awards/m1.jpg">
     <img  class="award" src="Image/Awards/m2.jpg"> 
    <img  class="award" src="Image/Awards/m3.jpg">
    
     <img class= "award" src="Image/Awards/11.jpg">
  <img class= "award" src="Image/Awards/22.jpg">
   <img class= "award" src="Image/Awards/33.jpg">
   
     
 <img class= "award" src="Image/Awards/1.jpg">
  <img class= "award" src="Image/Awards/2.jpg">
   <img class= "award" src="Image/Awards/3.jpg">
   
   <img  class="award" src="Image/Awards/4.jpg">
   <img  class="award" src="Image/Awards/cet4.jpg">
    <img  class="award" src="Image/Awards/cet6.jpg">
<br/>
<br/>

</div>

<div id="accessary">
<h2 style="background-color:pink; margin:0px; text-align:center; " > Message Board </h2>

<ul>
<li style="text-decoration:blink"> Today is my boy friend PXY's birthday! </li>
</ul>
</div>

<div id="footer">Copyright@Claire Wu</div>

</div>


</body>
</html>
