<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Friends</title>
<link href="../styles/content_style.css" rel="stylesheet" type="text/css"  />
</head>

<body>


<div id="container">

<div id="header">
<img class="head" src="../images/cut.jpg">
 

</div>

<div id="menu">
 <ul  class="menu">
    <li  class="menu"><a class="tag " href="home.html">Home</a> </li>
 <li class="menu"> <a class="tag " href="news.html">News</a> </li>
 <li  class="menu"> <a class="tag " href="study.html">Study</a> </li>
  <li  class="menu"> <a class="tag" href="hobbies.html">Hobbies</a>  </li>
  <li  class="menu"> <a class="tag " href="friends.html">Friends</a> </li>
  <li  class="menu"> <a class="tag" href="contact.html">Contact</a> </li>
 
 </ul> 
</div>

<div id="image">
<img height=300px; width=380px; src="../images/BFF.jpg">
<img height=300px; width=200px; src="../images/couple.jpg">
<img height=300px; width=400px; src="../images/lab.jpg">
</div>

<div id="content">


 <hr/>
 <p class="out">   
   &nbsp;  &nbsp; I am so lucky to have so many friends in our life, who once shared happiness and sorrow with me. We may not keep in touch with each other all the time, even lost touch, but the time we spent together is there, and our friendship is forever there.  </p>
  
 <div class="column">
  <img  class="friends" src="../images/Friends/10.jpg">
 <img  class="friends" src="../images/Friends/11.jpg">
 <img  class="friends" src="../images/Friends/12.jpg">
 <p class="text">   Chenjie was my middle schoole classmate, who graduated last year. She is like my big sister. Now she works in The Branch of Wenzou Bank in Pingyang. The last time we saw each other was the first month of this lunar year.</p> 
 </div>
 
 
   <div class="column">
  <img  class="friends" src="../images/Friends/20.jpg">
 <img  class="friends" src="../images/Friends/21.jpg">
 <img  class="friends" src="../images/Friends/22.jpg">
 <p class="text">   This girl called Linxiao, my middle schoole classmate. We knew each other since primary school. I like her smile. I'm not sure what she does now, maybe Office Secretary. She work in Shanghai.</p> </div>
 
 
  <div class="column">
  <img  class="friends" src="../images/Friends/30.jpg">
 <img  class="friends" src="../images/Friends/31.jpg">
 <img  class="friends" src="../images/Friends/32.jpg">
 <p class="text">  Her name is Wen Yingying. We were both good at English in the middle school. We often trained together for our PE test. She is going to gradute this summer. She took the exam of postgraduate. Hope she can succeed. </p>
 </div>
 
 
  <div class="column">
  <img  class="friends" src="../images/Friends/40.jpg">
 <img  class="friends" src="../images/Friends/41.jpg">
 <img  class="friends" src="../images/Friends/42.jpg">
 <p class="text">   Rongrong is one of my deskmates in high school, and we are also roommates. Now she study in Zhejiang University as a postgraduate in medical science (maybe~~). We didn't meet for one or two years but we don't feel unfamilar . </p>
 </div>
 

 <div class="column">
  <img  class="friends" src="../images/Friends/52.jpg">
 <img  class="friends" src="../images/Friends/54.jpg">
 <img  class="friends" src="../images/Friends/53.jpg">
 <p class="text"> I guess you don't play qq coz I can't access your qq zone. Unable to get your pretty photo, I managed with those three.  Helen, also a postgraduate in Zhejiang University majoying in English, came to Hefei last year, and that's the last time I saw her.</p>
 </div>
 
 
  <div class="column">
  <img  class="friends" src="../images/Friends/62.jpg">
 <img  class="friends" src="../images/Friends/60.jpg">
 <img  class="friends" src="../images/Friends/64.jpg">
 <p class="text">  Meicai, one of my deskmates in high school, is an quite and gentle girl. She studied English in college, and now works in a foreign trade company. I almost forgot the last time we see each other. I feel kinda guilty.</p>
 </div>
 

<div class="column">
  <img  class="friends" src="../images/Friends/71.jpg">
 <img  class="friends" src="../images/Friends/72.jpg">
 <img  class="friends" src="../images/Friends/70.jpg">
 <p class="text">  Wangting is a hard-working girl majoy in chemistry. She has a warm heart for friends, which made her very popular. Now she studies at Perking University.</p>
 </div>
 
 
  <div class="column">
  <img  class="friends" src="../images/Friends/80.jpg">
 <img  class="friends" src="../images/Friends/83.jpg">
 <img  class="friends" src="../images/Friends/82.jpg">
 <p class="text">  Shirley, a next-door girl, is quite easy-going. We get along very well. Hanging out with her, I will be a crazy girl without caring about others. Can you imagine that? Now she is a maths teacher in a high school. </p>
 </div>
 
 
 
 <div class="column">
  <img  class="friends" src="../images/Friends/94.jpg">
 <img  class="friends" src="../images/Friends/91.jpg">
 <img  class="friends" src="../images/Friends/92.jpg">
 <p class="text">  You know she is there by telling from her voice. Susan is a vigorous and naughty girl full of passion in dancing, volleyball and English. We have much difference. Actually, we are not the same type. So strange that we became best friends. </p>
 </div>
 
 
  <div class="column">
  <img  class="friends" src="../images/Friends/101.jpg">
 <img  class="friends" src="../images/Friends/102.jpg">
 <img  class="friends" src="../images/Friends/103.jpg">
 <p class="text">  We are not of the same major. We don't see each other often when we're in the same class. But every time we met, we were so happy, like meeting an old good friend. We are good friends, but not old that time.</p>     </div>
 
    <div class="column">
  <img  class="friends" src="../images/Friends/y1.jpg">
 <img  class="friends" src="../images/Friends/y2.jpg">
 <img  class="friends" src="../images/Friends/y3.jpg">
 <p class="text">   As a member of The Community Party, Yang set a good example for us. She always cares about classmates and spent plenty of time in the student work. All in all, she is a very nice girl.</p>   
 </div>
 
 
    <div class="column">
  <img  class="friends" src="../images/Friends/c1.jpg">
 <img  class="friends" src="../images/Friends/c2.jpg">
 <img  class="friends" src="../images/Friends/c3.jpg">
 <p class="text">   Another shirley, aha! She is proud of her mandarin. Her Chinese is good and she got a very sharp tone. From the picture, you must think she likes smile so much. It should be~~~</p>
 </div>
 
  
   <div class="column">
  <img  class="friends" src="../images/Friends/g1.jpg">
 <img  class="friends" src="../images/Friends/g2.jpg">
 <img  class="friends" src="../images/Friends/g3.jpg">
 <p class="text">   Miss Gu, another female okatu. She is an excellent girl, but not confident in herself. I hope she will become more confident as time goes by. Come on!  </p>
 </div>
 


  
   <div class="column">
  <img  class="friends" src="../images/Friends/x1.jpg">
 <img  class="friends" src="../images/Friends/x2.jpg">
 <img  class="friends" src="../images/Friends/x3.jpg">
 <p class="text">   We have known each other for one and a half years. Reme is one of the few female friends in USTC. Oh,boy! There're so many boys there. She is good at maths, especially the thoerical part. Aha~~~ </p>
 </div>
 



 <p class ="out";> 
  <br/>
  &nbsp;  &nbsp; Sometimes in life,You find a special friend;
 <br/>
　　Someone who changes your life just by being part of it.
 <br/>
　　Someone who makes you laugh until you can't stop;
 <br/>
　　Someone who makes you believe that there really is good in the world.
 <br/>
　　Someone who convince you that there really is an unlocked door just waiting for you to open it.
 <br/>
　　This is Forever Friendship.

 </p>
 
</div>

<div id="accessary">
<h2 style="background-color:pink; margin:0px; text-align:center; " > Message Board </h2>

<ul>
<li style="text-decoration:blink"> Today is my boy friend PXY's birthday! </li>
</ul> 

</div>

<div id="footer">Copyright@Claire Wu</div>

</div>

</body>
</html>
