<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link href="/styles/content_style.css" rel="stylesheet" type="text/css"  />
<title>News</title>
</head>


<body>

<div id="container">

<div id="header">

<img class="head" src="/images/cut.jpg">
 

</div>

<div id="menu">
 <ul  class="menu">
    <li  class="menu"><a class="tag " href="home.html">Home</a> </li>
 <li class="menu"> <a class="tag " href="news.html">News</a> </li>
 <li  class="menu"> <a class="tag " href="study.html">Study</a> </li>
  <li  class="menu"> <a class="tag" href="hobbies.html">Hobbies</a>  </li>
  <li  class="menu"> <a class="tag " href="friends.html">Friends</a> </li>
  <li  class="menu"> <a class="tag" href="contact.html">Contact</a> </li>
 
 </ul>
</div>

<div id="image">
<img height=300px; width=380px; src="/images/BFF.jpg">
<img height=300px; width=200px; src="/images/couple.jpg">
<img height=300px; width=400px; src="/images/lab.jpg">
</div>

<div id="content">
<h2 class="news"> 2014 </h2>
<ul>
<li>Jul. 20th: WWW left here, heading for a new life in Hangzhou.</li>

<li>Jul. 16th: The new computer arrived.</li>
<li>Jul. 15th: My roommate Miss Gu came to USTC for a business trip.</li> 
<li>Jul. 14th: I bought four more books .</li>
<li>Jul. 11th: I bought two books Pro. Liu recommended me.</li> 
<li>Jul. 4th: I started reading books "Being alive is a gift" by Yu Juan.</li>
<li>Jul. 2th: Pro. Liu bought me a computer for work .</li>
<li>Jun. 30th: WWW came to visit me .</li>
<li>Jun. 30th: PXY left, heading for Ningbo.</li>
<li>Jun. 28th: PXY got a chance for intern at the games-developing company neighbour. I knew some of the staff, including the boss.</li>
<li>Jun. 25th: We got three teachers from vacational school,Sichuan.</li>
<li>Jun. 24th: I suggested taking over Yang Hongzhuang's teaching task .</li> 
<li>Jun. 23th: Our company got three new staff for the market department.</li>
<li>Jun. 21th: PXY and I went to see the movie Godzilla, the special effect was so awesome that I want to have a job about this.</li>
<li>Jun. 16th: Started to write the book we plan to publish.</li>
<li>Jun. 13th: Three guys from S.Z. visited Teacher Zhang, we treated them at the hotel. I began to flat. </li>
<li>Jun. 12th: PXY came here for a week.</li>
<li>Jun. 10th: We got the third student, Hu Jiaguo.</li>
<li>Jun.  2th: Decided to change from girl to lady.</li>
<li>May. 31th: Went to Jinhua for the Dragon Boat Festival, with PXY from Ningbo.</li>
<li>May. 24th: BEC higher test, the rest.</li>
<li>May. 23th: BEC higher test, speaking.</li>
<li>... I forgot...</li>
<li>May. 14th: I got my second student, Chen Congwei.</li>
<li>... I forgot...</li>
<li>May.  2th: Start to learn sketch, find a partner for BEC higher test.</li>
<li>May.  1th: Shopping with Reme and bought many stuff.</li>
<li>Apr. 29th: I was told to help marketing department.</li>
<li>Apr. 28th: PXY went to Ningbo for study, I moved to Advanced Academy of USTC.</li>
<li>Apr. 27th: Teaching finished.</li>
<li>Apr. 20th: Model the Oriental Pearl TV Tower, and 3d print it later.</li>
<li>Apr. 16th: Model the Chinese embassy of Shanghai Expo.</li>
<li>Apr. 14th: Got my first student learning about 3d max.</li>
<li>Apr. 13th: Went to Mountain Zipeng for spring travelling.</li>
<li>Apr.  9th: Finish the training course concerning about 3d modeling.</li>
<li>Apr.  4th: We travelled to Hangzhou,seeing the household West Lake, hanging out with meicai,helen and ronger.</li>
<li>Apr.  3th: PXY was admitted to the Zhejiang University, which I am quite proud of.</li>
<li>Mar. 29th: PXY went to Software college of Zhejiang University,Ningbo for retest.</li>
<li>Mar. 28th: Started learning 3ds max, making some models by learning the video.</li>
<li>Mar. 26th: Got an email from the Abaci company, fen@abaci3d.com.</li>
<li>Mar. 26th: Having a rehearsing for AutoCAD.</li>
<li>Mar. 20th: Started learning AutoCAD, the first step to my dream.</li>
<li>Mar. 19th: Attended a lecture concerning about 3d printing.</li>
<li>Mar. 16th: Had a self-summary of the last month and made a plan for this month.</li>
<li>Mar. 16th: Modeled a book clip using 3d max, learning from a website.</li>
<li>Mar. 15th: Learned to DIY accessories by videos .</li>
<li>Mar. 14th: Attended a lecture concerning about 3d max.</li>
<li>Mar. 12th: Decided to make accessories by myself.</li>
<li>Mar.  9th: My first website was done.</li>
<li>Mar.  7th: I received a rose from an unknown foreigner. </li>
<li>Mar.  6th: <a href="HappyBirthday.html">It is PXY's birthday. </a> </li>
<li>Mar.  5th: Updated my website (2nd version). </li>
<li>Mar.  4th: Signed for BEC higher. </li>
<li>Mar.  2th: Learned skating for the first time. </li>
<li>Mar.  1th: Made the framework of my first website. </li>
</ul>

<hr/>


<h2> History of Fen's House</h2>

<ul>
<li>Mar. 17th: Homepage was change.</li>
<li>Mar. 9th: My first website was done.</li>
<li>Mar. 8th: Finished all of the rest. Ask for my friends' permission
for their info.</li>
<li>Mar. 5th: Updated my website (2nd version). </li>
<li>Mar. 5th: Made a page for PXY's birthday. </li>
<li>Mar. 1th: Made my first website. </li>
<li>Feb 28th: Started to learn html. Maybe a few days ago. </li>
</ul>
</div>

<div id="accessary">
<h2 style="background-color:pink; margin:0px; text-align:center; " > Message Board </h2>

<ul>
<li style="text-decoration:blink"> Today is my boy friend PXY's birthday! -2014.3.6 </li>
</ul>
 
</div>
<div id="footer">Copyright@Claire Wu</div>

</div>

</body>
</html>
