<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Contact</title>
<link href="/styles/content_style.css" rel="stylesheet" type="text/css"  />
</head>

<body>
 <div id="container">

<div id="header">
<img class="head" src="/images/cut.jpg">
</div>

<div id="menu">

 <ul  class="menu">
    <li  class="menu"><a class="tag " href="home.html">Home</a> </li>
 <li class="menu"> <a class="tag " href="news.html">News</a> </li>
 <li  class="menu"> <a class="tag " href="study.html">Study</a> </li>
  <li  class="menu"> <a class="tag" href="hobbies.html">images</a>  </li>
  <li  class="menu"> <a class="tag " href="friends.html">Friends</a> </li>
  <li  class="menu"> <a class="tag" href="contact.html">Contact</a> </li>
 
 </ul>
</div>

<div id="image">
<img height=300px; width=380px; src="/images/BFF.jpg">
<img height=300px; width=200px; src="/images/couple.jpg">
<img height=300px; width=400px; src="/images/lab.jpg">
</div>

<div id="content">

<p style="padding:20px;"> There are more information about me. </p>
<ul>
<li> Q Q   : 747042796  </li>
<li> Phone: 15656593073 </li>
<li> Mail  :  <a href="mailto:fen@mail.ustc.edu.cn"> fen@mail.ustc.edu.cn </a>  </li>
<li> Address:East Campus, University of Science and Technology of China, Hefei, Anhui, China
</li>
<li> My introduction in Chinese: <a href="http://www.abaci3d.cn/a/3Djianmolaoshi/2014/0320/41.html">Claire Wu@Abaci</a>
</li>
</ul>


<hr/>


<h2> Feedback of the website</h2>
<p>If you have advise for my wesbite, welcome to email me
<a href="mailto: fen@abaci3d.com"> here</a> !
<br/>
Thank you for your precious suggestion! </p>


</div>

<div id="accessary">
<h2 style="background-color:pink; margin:0px; text-align:center; " > Message Board </h2>

<ul>
<li style="text-decoration:blink"> Today is my boy friend PXY's birthday! </li>
</ul>

</div>

<div id="footer">Copyright@Claire Wu</div>
</body>
</html>
