<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Home</title>
<link href="/styles/home_style.css" rel="stylesheet" type="text/css"  />
</head>

<body>
 
<div id="menu">
<ul>
<li><a class="tag" href="home.html">Home</a></li>
<li><a class="tag" href="news.html">News</a></li>
<li><a class="tag" href="study.html">Study</a></li> 
<li><a class="tag" href="hobbies.html">Hobbies</a></li> 
<li><a class="tag" href="friends.html">Friends</a></li>
<li><a class="tag" href="contact.html">Contact</a></li>  
</ul>
</div>
 
<div id="content">
<p class="white">Hello, everybody! My name is Claire Wu.
Now I am a graduate majoying in maths at <a  class="normal" href="http://gradschool.ustc.edu.cn/">USTC</a>,as well as a member of 
<a class="normal" href="http://gcl.ustc.edu.cn/">GCL@USTC</a> under the instruction of
<a class="normal" href="http://staff.ustc.edu.cn/~lgliu/">Pro.Dr.Ligang Liu </a>.  
 </p>
 <p class="white">
   You may not describe me as easy-going or approachable at first sight. Actually, it isn't what it appears. Trust me. On the other hand, being ambitious and brave, I am always finding something new to learn. For instance, I am learning skating and planning to learn swimming in this summer. The more I learn, the more confident I am. 
 
  </p>
<p class="white">
   I like playing Ping-Pong for many years.(BTW, I met my BF because of it. Aha！) I travelled some places and shared many beatiful memories with him. I am begining to enjoy programming with HTML/CSS, which I was doing right now. Lastly, English is also another stuff I am fond of. 
  </p>
  <p class="white"> My motto is <span class="motto"> Practice Makes Perfect! </span></p>
 <p class="white">
  If you are interested in me, see <a class="normal" href="contact.html">CONTACT</a> to find more information about me. 
 </p>

</div>



</body>
</html>
