html,
body {
    height: 100%;
    width: 100%;
    min-width: 1200px;
    color: #616e7c;
}

body > div {
    padding: 80px 0;
    text-align: center;
}

div.g-about,
div.g-portfolio,
div.g-resume,
div.g-testimonials {
    background: #fff;
    background: -webkit-linear-gradient(#fff 0, #e7e7e7 50%, #fff 100%);
    background: -moz-linear-gradient(#fff 0, #e7e7e7 50%, #fff 100%);
    background: -o-linear-gradient(#fff 0, #e7e7e7 50%, #fff 100%);
    background: linear-gradient(#fff 0, #e7e7e7 50%, #fff 100%);
}

.m-nav, .m-about, .m-services, .m-portfolio, .m-skills, .m-resume, .m-achievements, .m-testimonials, .m-contact {
    margin: 0 auto;
    width: 60%;
    min-width: 1000px;
}

$colorTone: #2c3e50;
$subColor: #E87E04;
$barHeight: 64px;
$contentWidth: 60%;
.navFixed {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
}

.hover {
    color: $subColor !important;
}

#blank {
    padding: 0;
    display: none;
    height: $barHeight;
}


.clearfont{  
    font-size: 0;
    .onethird {
        width: 33.3%;
        display: inline-block;
    }
}
div.g-cover {
    height: 100%;
    padding: 0;
    background: url('../../images/me.jpg') center no-repeat;
    background-size: cover;
    overflow: hidden;
    .m-cover {
        width: $contentWidth;
        height: 100%;
        margin-left: 5%;
        display: table;
        .m-cover-text {
            display: table-cell;
            vertical-align: middle;
        }
        .u-intro {
            font-size: 70px;
            font-weight: 600;
            letter-spacing: -2px;
            color: #2c3e50;
            line-height: 1;
        }
        .u-title {
            margin-bottom: 40px;
            margin-top: 20px;
            color: #76818d;
            font-size: 20px;
        }
        a:hover {
            background-color: $colorTone;
            color: white;
        }
    }
}

.u-btn {
    margin: 0 10px;
    padding: 10px 16px;
    border-radius: 6px;
    border: 1px solid #76818d;
    background-color: transparent;
    color: #76818d;
    line-height: 1.3333333;
    font-size: 16px;
}

div.g-nav {
    height: $barHeight;
    padding: 0;
    line-height: $barHeight;
    background-color: $colorTone;
    color: white;
    .m-nav { 
        overflow: hidden;
        .name {
            float: left;
            font-size: 20px;
            font-weight: bold;
            letter-spacing: 1px;
            a {
                color: white;
            }
        }
        nav {
            float: right;
            li {
                display: inline-block;
                margin-left: 40px;
                a {
                    display: inline-block;
                    text-transform: uppercase;
                    text-decoration: none;
                    color: white;
                    line-height: 64px;
                    letter-spacing: 1px;
                    &:hover {
                        @extend .hover;
                    }
                }
            }
        }
    }
}
 
div.g-about {
    .m-about {
        width: 40%; 
        img {
            border-radius: 125px;
        }
        p {
                width: 60%;
                margin: 0 auto;
                padding-top: 20px; 
                text-align: justify;
            a {
                color: $subColor;
            }
        }
        .m-btn {
            padding-top: 40px;
        }
    }
}

.u-section {
    padding: 30px 0;
    .u-section-title {
        margin: 0;
        margin-bottom: 30px;
        line-height: 20px;
        text-transform: uppercase;
        color: $colorTone;
        font-weight: 700;
        font-size: 30px;
    }
    .u-line {
        height: 4px;
        width: 70px;
        background: $subColor;
        margin: 0 auto;
        margin-bottom: 30px;
    }
}

div.g-services {
    background: url('../../images/services-bg.jpg') center no-repeat;
    background-size: cover;
    background-attachment: fixed; 
}

.m-card {
    margin-top: 40px;
    font-size: 0;
    .u-card {
        width: 25%;
        padding: 0 15px;
        box-sizing: border-box;
        display: inline-block;
        font-size: 16px;
        i {
            margin-bottom: 20px;
            color: $colorTone;
        }

        .z-stats{
            color: $subColor;
        }

        h4 {
            padding: 10px 0;
            color: $subColor;
        }
        p {
            font-size: 14px;
        }
        .type{
            text-transform: uppercase;
            font-weight: bold;
        }
        .data {
            font-size: 40px;
            font-weight: bolder; 
            color: $colorTone;        
        }
    }
}

div.g-portfolio {
    .m-portfolio { 
        .m-type {
            width: 600px;
            margin: 0 auto;
            padding-bottom: 40px;
            font-size: 0;
            li {
                display: inline-block;
                width: 25%;
                font-size: 14px;
                border-right: 1px solid #616e7c;
                box-sizing: border-box;
                a {
                    color: #616e7c;
                    &:hover {
                        color: $subColor;
                    }
                }
            }
            li:last-child {
                border: none;
            }
        }
    }
     
    .m-portPics > div {
        float: left;
        width: 25%;
        box-sizing: border-box;
        padding: 10px;
        .u-images{
            overflow: hidden;
        } 
        a {
            display: inline-block; 
            img, .u-images-context{ 
                transition: all 1s ease-in-out;
            } 
            
            &:hover .u-images-context{  
                opacity: 0.7;
            } 

            &:hover img{
                transform: scale(1.3);
            }
        }
        img {
            width: 100%;
        } 

    }
    .u-images-context { 
        position: absolute;
        top: 10px;
        left: 10px;
        right: 10px;
        bottom: 10px;
        opacity: 0;
        background-color: #000000;
        color: white;
        transition-property: opacity;

        .title {
            font-size: 20px;
            margin-top: 25%;
            margin-bottom: 5%; 
        }
        .type {
            margin-bottom: 10%;
        }
        i {
            color: $subColor;
        }
    }
}

div.g-skills {
    background: url('../../images/skills-bg.jpg') center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    .m-skills{ 
        .u-chart { 
            position: relative;
            display: inline-block;
        }
        .skillName{
            color: #E87E04;
            padding: 30px 0;
            font-weight: 600;
            font-size: 18px;
        }

        .percent {
            position: absolute; 
            top: 50%;
            left: 50%;
            transform: translate(-43%, -50%);
            font-size: 20px;
        }
    }
}

div.g-resume {
    .m-resume{
        .timeline{
            position: relative;

            &:before{
                content: '';
                border: 1px solid #d2d2d2;
                width: 0;
                height: 100%;
                position: absolute;
                z-index: 0;

            }
        }

        li{
            text-align: center;
            margin-bottom: 90px;
        }

        .desc{
            width: 40%;
            position: absolute;

            .company{
                font-size: 20px;
            }
            .job {
                font-size: 18px;
                color: $subColor;
                padding: 10px 0;
            } 
        }

        .z-left{
            left: 0;
            text-align: right; 
        }

        .z-right {
            right: 0;
            text-align: left;
        }

        .u-time{ 
            width: 150px;
            height: 150px;
            z-index: 1;
            position: relative;
            background-color: white;
            border-radius: 75px; 
            display: inline-block; 
            font-size: 16px;
            p:first-child{
                padding-top: 40px;
            }
        }
    }
}

div.g-achievements {
    background: url('../../images/achievements-bg.jpg') center no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

div.g-testimonials {
    .m-testimonials {
        img {
            width: 100px;
            border-radius: 50px;
        }

        p{
            width: 60%;
            margin: 0 auto;
            padding: 20px;
        }
    }
}

div.g-contact {
    background: url('../../images/contact-bg.jpg') center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    .z-white{
        color: white;
    }
    .con-text{
        margin-bottom: 35px;
    }
    .onethird{
        font-size: 14px;
        vertical-align: top;
        p {
            margin-top: 10px;
        }
    }
    .m-contact{ 
        color: white;
        .contain{
            width: 70%;
            margin: 0 auto;
        }
    }
}


footer {
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: white;
    background-color: #001934;
    i {
        color: white;
        vertical-align: middle;
    }
}
